/**
 * Para crear los huecos entre cajas se trabaja con margin 
 * y no con la propiedad gap de flexbox para evitar problemas
 * con navegadores que no la soportan, especialmente
 * en dispositivos móviles:
 * https://caniuse.com/flexbox-gap
 */

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 10px;
}

a {
  color: inherit;
  text-decoration: none;
  border: 0;
}

.wrapper, header, main section, footer {
  box-sizing: border-box;
  padding: 20px;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

header, main section, footer {
  background-color: #000;
}


/* HEADER ********************************************************************/

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px 0;
  height: 400px;
  background: url('../img/header.jpg') center center no-repeat;
}

header .container:first-child {
  display: flex;
  align-items: center;
  color: #8d8d8d;
}

header .logo,
header nav,
header .social {
  margin: 0 10px;
}

header .logo {
  flex: 1;
  margin-left: 0;
}

header .logo a img {
  max-width: 70px;
}

header .logo a:hover img {
  filter: contrast(2);
}

header nav {
  flex: 4.5;
  display: flex;
  justify-content: space-around;
}

header nav a {
  padding: 8px 16px;
  font-size: 1.6rem;
}

header nav a:hover {
  color: #fff;
  background-color: #999;
}

header .social {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-right: 0;
}

header .social a {
  margin: 0 2px;
  padding: 8px 10px;
  font-size: 1.6rem;
}

header .social a:hover {
  color: #fff;
  background-color: #999;
}

header .container:last-child {
  margin: 0 auto;
  width: 90%;
  height: 130px;
  background-color: rgba(0, 0, 0, 0.1);
}

h1 {
  margin: 30px 0 0;
  font-family: serif;
  font-size: 2.2rem;
  color: #f59571;
  text-align: center;
}


/* MAIN **********************************************************************/

main {
  margin: 20px 0;
}

main section {
  display: flex;
}

main .container:first-child {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  background-color: #4e4f68;
}

main .container:first-child div:not(:last-child) {
  flex: 1 40%;
  margin-bottom: 20px;
  background-color: #006faa;
}

main .container:first-child div:not(:last-child):nth-child(odd) {
  margin-right: 10px;
}

main .container:first-child div:not(:last-child):nth-child(even) {
  margin-left: 10px;
}

main .container:first-child div:last-child {
  flex: 2 100%;
  background-color: #60a3c0;
}

main .container:last-child {
  flex: 1;
  margin-left: 20px;
  background-color: #ff2f54;
}

main .container:last-child div {
  background-color: #ffe78f;
}

main .container:last-child div:first-child {
  margin-bottom: 10px;
}


/* FOOTER ********************************************************************/

footer .container {
  padding: 10px;
  background-color: #f0aa48;
}


/* REPONSIVE *****************************************************************/

@media only screen and (max-width: 991px) {
  header nav a,
  header .social a {
    font-size: 1.3rem;
  }

  main section {
    flex-direction: column;
    background-color: #fffc52;
  }

  main .container:last-child {
    margin: 20px 0 0;
  }
}

@media only screen and (max-width: 800px) {
  header nav a span,
  header .social a span {
    display: none;
  }
}

@media only screen and (max-width: 699px) {
  h1 {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 599px) {
  header .container:first-child {
    flex-direction: column;
    margin-bottom: 20px;
  }

  header .container:first-child div {
    margin: 0;
  }

  header .container:first-child div:not(:last-child) {
    margin-bottom: 20px;
  }

  main section {
    background-color: #ffde52;
  }

  main .container:first-child {
    flex-direction: column;
    background-color: #00536d;
  }
  main .container:first-child div:not(:last-child) {
    background-color: #52959a;
  }
  
  main .container:first-child div:not(:last-child):nth-child(odd),
  main .container:first-child div:not(:last-child):nth-child(even) {
    margin-right: 0;
    margin-left: 0;
  }

  main .container:first-child div:last-child {
    background-color: #93ddcb;
  }

  main .container:last-child {
    background-color: #ff735b;
  }

  main .container:last-child div {
    background-color: #ffad73;
  }
}